<div class="container p-4">
    <div class="row">
      <div class="col">
        <p class="title-dacshboard">Week Days</p>
      </div>
    </div>
    <div class="container-table">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
              <table class="table table-image">
                <thead>
                  <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Start Work</th>
                    <th scope="col">End Work</th>
                    <th scope="col">Appointment Duration (min)</th>
                  </tr>
                </thead>
                <tbody formArrayName="weekSchedule">
                  <tr *ngFor="let control of weekSchedule.controls; let i = index" [formGroupName]="i">
                    <td>{{ control.value.day }}</td>
                    <td>{{ control.value.date | date: 'dd.MM.yyyy' }}</td>
                    <td>
                      <app-dropdown-btn
                        [options]="statusOptions"
                        placeholder="Status auswählen"
                        [controlName]="'status'"
                        [control]="control"
                      ></app-dropdown-btn>
                    </td>
                    <td>
                      <input
                        type="time"
                        class="form-control"
                        formControlName="start"
                        placeholder="Start Work"
                      />
                    </td>
                    <td>
                      <input
                        type="time"
                        class="form-control"
                        formControlName="end"
                        placeholder="End Work"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        formControlName="duration"
                        placeholder="Dauer in Minuten"
                        min="0"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <button type="submit" class="btn btn-primary mt-3">Speichern</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  