.title-dacshboard {
    color: #000;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .container-table {
    
    padding: 2rem 0rem;
  }
  .container{
    height: 100vh;
}
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td,
    th {
      vertical-align: middle;
    }
  }
  .img-fluid {
    width: 60% !important;
  }