<div class="container mt-4">
  <div class="row g-3">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators custom-indicators">
        <button
          *ngFor="let item of imagesArr;keyvalue  let i =index "
          type="button"
          data-bs-target="#carouselExampleIndicators"
          [attr.data-bs-slide-to]="i"
          class="active"
          aria-current="true"
          [attr.aria-label]="'Slide ' + i"
      
        ></button>
        <!-- <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button> -->
      </div>

      <div class="carousel-inner">
        <div class="carousel-item d-flex justify-content-center active"   *ngFor="let item of imagesArr;keyvalue  let i =index ">
          <img
            class="d-block  mx-auto"
            [src]="item"
            alt="First slide"
            width="500"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="custom-hr" />
