<app-pagebenner></app-pagebenner>
<div class="container ">
  <div class="py-4 d-flex flex-column justify-content-center align-items-center formbox">
    <form>
      <div class="form-group py-3">
        <input type="Phone number" id="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Phone number" formControlName="email" />
      </div>
      <div class="form-group py-3">
        <input type="Email" class="form-control" id="exampleInputPassword1" placeholder="Email"/>
      </div>
      <Unsere-Buton label="RECOVER PASSWORD" classes="gold" (clicked)="onClicke()"></Unsere-Buton>
    </form>
  </div>
  <a class="text-secondary my-10" href=""><title-line titel="Back Home"></title-line></a>
</div>

