<div class="container py-3">
  <div class="row box_shadow">
    <div class="card bg-dark price-card p-3">
      <div>
        <h3 class="price-title">PREISE LISTE</h3>
        <div class="container px-5" *ngFor="let item of list; let i = index">
          <p class="category-title mt-3">{{ item.category }}:</p>
          <ul class="category_list">
            <li
              class="listItem"
              *ngFor="let items of item.sales; let i = index"
            >
              {{ items.name }} ({{ items.price }}€)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
