<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
      <div>
        <div>
          <h2 class="fs-2 h1">Pick up an appointment</h2>
          <h3 class="fs-3 mt-5 h1">Calendar</h3>
          <mat-calendar
            #calendar
            [minDate]="minDate"
            [maxDate]="maxDate"
            [(selected)]="selectedDate"
            (selectedChange)="dateChanged($event)"
            [dateFilter]="checkAvailableDays"
          ></mat-calendar>
          <p *ngIf="!selectedDate">Bitte wählen Sie das gleiche Datum aus.</p>
          <div class="time-box" *ngIf="hide">
            <app-apo-btn
              *ngFor="let item of times; let i = index"
              [value]="item"
              [classs]="'btn_apo_' + ((i % 2) + 1)"
              (clicked)="handelClick(item)"
            ></app-apo-btn>
          </div>
          <p *ngIf="selectedDate && selectedTime && isAngemeldet">
            <span class="reservation-info">
              <em>Ausgewähltes Datum:</em> &nbsp;
              <strong> {{ selectedDate }}</strong> &nbsp; | &nbsp;
              <em>Uhrzeit:</em> &nbsp;<strong>{{ selectedTime }}</strong>
            </span>
          </p>
          <Unsere-Buton
            label="SAVE"
            classes="black"
            *ngIf="selectedDate && selectedTime && isAngemeldet"
            (clicked)="handleSelectedTime()"
          ></Unsere-Buton>
          <p
            *ngIf="selectedDate && selectedTime && !isAngemeldet"
            class="reservation-hinweis"
          >
            um diese termin zu reavieren sie müssen erste mal her anmelden bitte
            Selected Date:
            <strong>{{ selectedDate }} at Time: {{ selectedTime }}</strong>
          </p>
          <Unsere-Buton
            label="Login"
            classes="black"
            *ngIf="selectedDate && selectedTime && !isAngemeldet"
            (clicked)="goToLogin()"
          ></Unsere-Buton>
        </div>
      </div>
    </div>
  </div>
</div>
