
<app-pagebenner></app-pagebenner>
<div class="container ">
    
  <div class="py-4 d-flex flex-column justify-content-center align-items-center formbox">
      <h2>Wilkommen to my Frisuer</h2>
      <p>discover amazing thing near around you</p>
      <div class="form-group py-3 form-control" >
         <div class="eins">
            <Unsere-Buton label="SIGN UP" classes="black"(clicked)="onSignUp()"></Unsere-Buton>
         </div>
        <div class="zwei">
            <Unsere-Buton label="SIGN IN" classes="gold" (clicked)="onSignIn()"></Unsere-Buton>
        </div>
      </div>
  </div>
</div>

