<div *ngIf="loading == true">
  <app-willkommen></app-willkommen>
</div>
<div *ngIf="loading == false">
  <app-navbar-desktop />
  <app-navbar-mobile />

  <div class="container mt-5">
    <div class="row g-3">
      <div class="col-12 col-md-6 col-lg-4">
        <app-cards
          *ngFor="let item of ladenDaten | keyvalue; let i = index"
          [Name]="ladenDaten[i].Laden_name"
          [description]="ladenDaten[i].Laden_description"
          [id]="ladenDaten[i].barber_email"
        ></app-cards>
      </div>
    </div>
  </div>
</div>
