<div *ngIf="loading == true">
  <app-willkommen></app-willkommen>
</div>
<div *ngIf="loading == false">
  <app-navbar-desktop />
  <app-navbar-mobile />

  <div class="container mt-5">
    <div class="row g-5 ">
      <div class=" col-lg-4 col-md-6 col-sm-12 "  *ngFor="let item of ladenDaten | keyvalue; let i = index" >
        <app-cards
          [Name]="ladenDaten[i].Laden_name"
          [description]="ladenDaten[i].Laden_description"
          [id]="ladenDaten[i].barber_email"
        ></app-cards>
      </div>
    </div>
  </div>
</div>
