.pageBanner {
  background-image: url('back.svg');
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  height: 70vh
}

.logo  {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);

}

.detilesBox{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-position: left;
  padding-top: 25%;
}

