.pageBanner {
  background-image: url(Frame\ 79.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #252525;
  background-position: center;
  color: white;
  padding-bottom: 105px;
  border-bottom-left-radius: 351px 56px;
  border-bottom-right-radius: 351px 56px;
}

.logo > img {
  width: 150px;
}
