.fullscreen-svg {
  width: 150%;
  position: absolute;
  top: -6%;
  left: 60.79%;
  transform: translate(-50%, -50%);
  position:fixed;
}

.detilesBox {
  display: flex;
  flex-direction: column;
  width: 210px;
  background-position: left;
  color: white;
  left: 20%;
  padding-top: 12%;    
  padding-left: 14px;
  position:fixed;
  position: relative;
 
}



.title {
  font-weight: bold;
  margin: 0;
 
}

.desc {  
  
  font-style: italic;
  font-size: smaller;
}



