
.logo{
    width: 56px;
    margin-bottom: 10px;

}
.logo-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.sidebar-col{
    background-color:#252525 ;
}
li> a{
    color: white;
}
li > a > i{
    color: #DABE29;
}
/* .dashboard-container{
    background-color: #9c0202;
   
    padding: 100px;
} */