
.logo{
    width: 56px;
    margin-bottom: 10px;

}
.nav-link.active{
    background-color: black !important;
    padding: 13px !important;

  }

.logo-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.sidebar-col{
    background-color:#252525 ;
}
li> a{
    color: white;
    font-size: 16px !important;
}
li > a > i{
    color: #DABE29;
    margin: 5px;
    font-size: 16px !important;

}
li{
    width: 240px;
    padding: 10px 20px;

}
.text-white{
  color: white !important;
}
.app-sidebar-dashboard{
  background-color: #252525;
}
@media screen and (width< 596px) {
li{
    width: 100%;
}
li > a > i{
    font-size: 20px !important;

}
}