<div
  class="align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
>
  <div class="d-flex align-items-center pt-4 px-3">
    <a
      routerLink="/"
      routerLinkActive="active"
      class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-6 d-none d-sm-inline name-title-style"
        >BARBER FINDER</span
      >
    </a>
    <a routerLink="/" routerLinkActive="active">
      <img class="logo ms-2" src="..\assets\logo.svg" alt="Logo" />
    </a>
  </div>
  <div class="container w-100 py-3">
    <div
      class="d-flex flex-column justify-content-center align-items-center logo-cont"
    >
      <img
        id="selectedAvatar"
        [src]="_userData.image"
        class="rounded-circle"
        style="width: 75px; height: 75px; object-fit: cover"
        alt="example placeholder"
      />
      <p class="d-flex align-items-center fs-6 d-none d-sm-inline py-3">
        {{ _userData.vorname + " " + _userData.nachname }}
      </p>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
      id="menu"
    >
      <li class="nav-item">
        <a
          routerLink="/appointment"
          routerLinkActive="active"
          class="nav-link align-middle px-2 py-1"
        >
          <i class="fs-4 bi-calendar-event px-1"></i>
          <span class="ms-1 d-none d-sm-inline">Appointments</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/working-days"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          class="nav-link align-middle px-2 py-1"
        >
          <i class="fs-4 bi-clock-history px-1"></i>
          <span class="ms-1 d-none d-sm-inline">Working days</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/closed-days"
          routerLinkActive="active"
          class="nav-link align-middle px-2 py-1"
        >
          <i class="fs-4 bi-cup-hot-fill px-1"></i>
          <span class="ms-1 d-none d-sm-inline">Close Days</span></a
        >
      </li>
      <li>
        <a
          routerLink="/laden-profile"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          class="nav-link align-middle px-2 py-1"
        >
          <i class="fs-4 bi-house-gear px-1"></i>
          <span class="ms-1 d-none d-sm-inline">Laden Profile</span></a
        >
      </li>
      <li>
        <a
          routerLink="/price-list"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          class="nav-link align-middle px-2 py-1"
        >
          <i class="fs-4 bi-cash-coin px-1"></i>
          <span class="ms-1 d-none d-sm-inline">Price Liste</span>
        </a>
      </li>
      <li>
        <a
          (click)="logOut()"
          data-bs-toggle="collapse"
          class="nav-link align-middle px-2 py-1"
        >
          <i class="fs-4 bi-box-arrow-left px-1"></i>
          <span class="ms-1 d-none d-sm-inline">Sign out</span>
        </a>
      </li>
    </ul>
    <hr />
  </div>
</div>
<div class="col-lg-10 col-md-9 py-3">
  <router-outlet></router-outlet>
</div>
