.location-header {
    background-color: #252525;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 1rem;
    background-image: url('/assets/right_pic.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
  

  @media (max-width: 576px) {
    .map-container {
      aspect-ratio: auto; /* Remove fixed ratio for very small screens */
    }
  }

  .location-header h3 {
    font-family: 'Roboto', sans-serif;
  }