<app-pagebenner title="" discription=""></app-pagebenner>
<div class="container d-flex justify-content-center align-items-center w-100">
    <div class="py-4 d-flex flex-column justify-content-center align-items-center cardbox  w-100 ">
      <div class="card-deck w-100 box-shadow-card">
        <div class="card d-flex  flex-column justify-content-center align-items-center p-5">
          <div class="card-body  ">
  
            <h5 class="card-title ">Welcome to App Frisuer</h5>
            <p class="card-text">
              Discover Amazing Thing Near Around You
            </p>

          </div>
          <ourBtn classes="black my-2 w-100" class="w-75" label="Sign Up" (click)="onSignUp()"></ourBtn>
          <ourBtn classes="gold my-2 w-100" class="w-75" label="Sign In" (click)="onSignIn()"></ourBtn>

        </div>
      </div>
    </div>
  </div>
  <div
  class="titelBox d-flex justify-content-center align-items-center mx-auto pt-3"
  style="width: 70%;"
>
  <div class="line w-100 border-top border-3 border-warning mx-2"></div>
  <div class="titel text-uppercase fw-medium mx-2 rest-password" > <a href="reset">Or reset Password</a></div>
  <div class="line w-100 border-top border-3 border-warning mx-2"></div>
</div>