<app-pagebenner></app-pagebenner>
<div class="container">
  <div class="py-4 d-flex flex-column justify-content-center align-items-center formbox">
    <form>
      <!-- Eingabefeld für Vollständiger Name mit dem vorherigen Icon -->
      <div class="form-group py-3 position-relative">
        <div class="input-wrapper">
          <input type="text" id="name" class="form-control" placeholder="PHONE NUMMBER" />
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="input-icon">
            <path d="M18 11V5C18 3.89543 17.1046 3 16 3H8C6.89543 3 6 3.89543 6 5V7M18 16V19C18 20.1046 17.1046 21 16 21H8C6.89543 21 6 20.1046 6 19V11M12 18.01V18" stroke="#001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>

      <!-- Eingabefeld für Passwort mit dem neuen Icon -->
      <div class="form-group py-3 position-relative">
        <div class="input-wrapper">
          <input type="password" id="password" class="form-control" placeholder="Email" />
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="input-icon">
            <path d="M3.29289 5.29289C3.47386 5.11193 3.72386 5 4 5H20C20.2761 5 20.5261 5.11193 20.7071 5.29289M3.29289 5.29289C3.11193 5.47386 3 5.72386 3 6V18C3 18.5523 3.44772 19 4 19H14M3.29289 5.29289L5 7.00006M20.7071 5.29289C20.8881 5.47386 21 5.72386 21 6V18C21 18.5523 20.5523 19 20 19H18M20.7071 5.29289L13.4142 12.5857C12.6331 13.3668 11.3668 13.3668 10.5857 12.5857L8 10" stroke="#001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>

      <Unsere-Buton label="RECOVER  PASSWORD" classes="gold" (clicked)="onClicke()"></Unsere-Buton>
    </form>
  </div>
  <a class="text-secondary my-10" href="signup"><title-line titel="Back Home"></title-line></a>
</div>


