<nav
class="navbar navbar-expand-lg navbar-dark bg-dark p-4 navbar-desktop d-none d-lg-flex"
>
<div class="container-fluid">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >Profile</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >Termine</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >Dashboard</a
        >
      </li>
    </ul>
    <form class="d-flex mx-auto" style="flex: 1; max-width: 400px">
      <input
        type="search"
        class="form-control"
        placeholder="Search/Address"
        aria-label="Search"
      />
      <button
        class="mx-3 btn"
        style="background-color: #eac813; color: black"
        type="submit"
      >
        Search
      </button>
    </form>
    <a class="navbar-brand ms-auto" href="#">
      <img src="assets/logo.svg" alt="Logo" />
    </a>
  </div>
</div>
</nav>