<div class="container p-4">
  <div class="row">
    <div class="col">
      <p class="title-dacshboard">Close Days</p>
    </div>
  </div>
  <div class="radio-btn d-flex justify-content-start">
    <app-radio-button
      [options]="radioOptions"
      [selectedValue]="selectedFilter"
      (valueChange)="onFilterChange($event)"
    ></app-radio-button>
  </div>

  <div *ngIf="selectedFilter === 'deleteDay'">
    <div class="alert alert-warning">
      <strong>Hinweis:</strong> Hier können Sie ein Datum löschen, an dem der
      Laden zuvor als geschlossen markiert wurde. An diesem Tag konnten
      ursprünglich keine Termine gebucht werden, aber Sie haben jetzt die
      Möglichkeit, diese Sperrung zu entfernen.
    </div>

    <div class="container-table">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <div class="table-responsive">
              <table
                class="table table-bordered table-striped table-hover shadow-sm rounded"
              >
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="text-start">Day</th>
                    <th scope="col" class="text-center">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let day of closedDays | keyvalue; let i = index">
                    <td class="text-start">{{ closedDays[i].date }}</td>
                    <td class="text-center">

                      <button
                        class="btn btn-danger btn-sm"
                        (click)="deleteDay(closedDays[i]._id)"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedFilter === 'addDay'">
    <div>
      <div class="alert alert-info">
        <strong>Hinweis:</strong> Hier können Sie ein Datum hinzufügen, an dem
        der Laden geschlossen ist. An diesem Tag können keine Termine gebucht
        werden.
      </div>
      <form [formGroup]="closedDayForm" (ngSubmit)="createClosedDay()">
        <div class="mb-3 d-flex justify-content-center w-50">
          <label for="closedDate" class="form-label">
            Wählen Sie einen Tag aus, an dem der Laden geschlossen ist:
          </label>
          <input
            type="date"
            id="closedDate"
            class="form-control w-25 mx-3"
            name="closedDay"
            formControlName="date"
            [min]="minDate"
            required
          />
        </div>
        <div class="w-50">
          <Unsere-Buton classes="black w-25" label="submit"></Unsere-Buton>
        </div>
      </form>
    </div>
  </div>
</div>