<app-pagebenner></app-pagebenner>
<div class="container">
  <div class="formbox">
    <form>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Vorname</mat-label>
          <input matInput placeholder="Geben Sie Ihren Vornamen ein" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nachname</mat-label>
          <input matInput placeholder="Geben Sie Ihren Nachnamen ein" />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Geburtsdatum</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Wählen Sie Ihr Geburtsdatum"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telefonnummer</mat-label>
          <input
            matInput
            placeholder="Geben Sie Ihre Telefonnummer ein"
            type="tel"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Ort</mat-label>
          <input
            matInput
            placeholder="Geben Sie Ihren Wohnort ein"
            type="text"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Postleitzahl</mat-label>
          <input
            matInput
            placeholder="Geben Sie Ihre Postleitzahl ein"
            type="text"
            maxlength="5"
            pattern="[0-9]*"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Straße</mat-label>
          <input matInput placeholder="Geben Sie Ihre Straße ein" type="text" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hausnummer</mat-label>
          <input
            matInput
            placeholder="Geben Sie Ihre Hausnummer ein"
            type="text"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com"
          />
          <mat-hint>Errors appear!</mat-hint>
          @if (emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
          } @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Passwort</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Geben Sie Ihr Passwort ein"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Passwort ' + (hide ? 'anzeigen' : 'verbergen')"
          >
            <mat-icon>{{ hide ? "visibility" : "visibility_off" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="form-group">
        
        <button mat-raised-button (click)="fileInput.click()">
          Bild auswählen
        </button>
        <input
          type="file"
          #fileInput
          style="display: none"
          (change)="onFileSelected($event)"
        />
        <span *ngIf="selectedFileName">{{ selectedFileName }}</span>
      
      </div>
      <Unsere-Buton
        label="SING UP"
        classes="gold"
        (clicked)="onClicke()"
      ></Unsere-Buton>
    </form>
  </div>
</div>
<a class="text-secondary my-10" href="login"
  ><title-line titel="SING IN"></title-line
></a>
