.formbox {

  border-radius: 27px;
  background: var(--Schemes-On-Primary, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 20px;
  padding:  20px;
}

 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  padding-top: 109px;
  
}


form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 100%;
  max-width: 800px;
}

.form-group {
  display: contents;
}

mat-form-field {
  width: 100%;
}

