<app-pagebenner title="" discription=""></app-pagebenner>
<div class="container d-flex justify-content-center align-items-center w-100">
  <div class="py-4 d-flex flex-column justify-content-center align-items-center cardbox  w-100">
    <div class="card-deck w-100 ">
      <div class="card d-flex  flex-column justify-content-center align-items-center p-5">
        <div class="card-body  ">

          <h5 class="card-title ">Password changed</h5>
          <p class="card-text">
            Discover Amazing Thing Near Around You
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
        <img
          class="card-img-button w-50"
          src="/assets/true.png"
          alt="Card image cap"
        />
        <ourBtn label="Recover Password" classes=" gold my-2 w-100" (clicked)="onClicke()"></ourBtn>
      </div>
    </div>
  </div>
</div>
<style>
  
</style>
