<app-pagebenner></app-pagebenner>
<div class="container">
  <div class="formbox">
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <h4 class="card-title">Password changed</h4>
            <p class="card-text">
              Discover Amazing Thing Near Around You
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p>
          <img class="card-img-button w-50" src="/assets/true.png" alt="Card image cap" />
          <Unsere-Buton label="Recover Password" classes="gold my-2 w-100" id="M" (clicked)="onClicke()"></Unsere-Buton>
      </div>
  </div>
</div>