<div class="container py-3">
  <div class="row box_shadow">
    <div class="card bg-dark text-white p-3 d-flex justify-content-center">
      <div>
        <h4 class="fs-2" style="color: #a5953f">Online Termine</h4>
        <p class="fs-4 mx-4">Öffnungszeiten</p>
        <ul class="list-unstyled mt-3">
          <li
            class="d-flex align-items-center mx-5 mb-2"
            *ngFor="let item of workingHour; let i = index"
          >
            <span class="fw-bold" style="width: 70px">
              {{ workingHour[i].day }}
            </span>
            <span class="ms-2">
              {{
                workingHour[i].status == "open"
                  ? workingHour[i].available_time_from +
                    " - " +
                    workingHour[i].available_time_to
                  : workingHour[i].status
              }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr class="another_custom-hr" />
