

<div class="container mt-2 py-3">
  <div class="card bg-dark text-white p-3">
    <h4 class="fs-2" style="color: #a5953f">Online Termine</h4>

    <p class="mt-5 fs-4 mx-4">Öffnungszeiten</p>

    <ul class="list-unstyled">
      <li
        class="d-flex align-items-center mx-5"
        *ngFor="let item of workingHour | keyvalue; let i = index"
      >
        <span class="fw-bold" style="width: 70px">
          {{ workingHour[i].day }}
        </span>
        <span class="ms-2">
          {{
            workingHour[i].status == "open"
              ? workingHour[i].available_time_from +
                " - " +
                workingHour[i].available_time_to
              : workingHour[i].status
          }}
        </span>
      </li>
      <!-- <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Di: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Mi: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Do: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Fr: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Sa: </span>
          <span class="ms-2">10:00-16:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">So: </span>
          <span class="ms-2">Geschlossen</span>
        </li> -->
    </ul>
  </div>
</div>

<hr class="another-custom-hr" />
