<div class="container mt-3 d">
    <h3>Welcome to the App Frisuer</h3>
    <p>Our company promise and commitment to our customers and the markets we serve is to better align ourselves between the customer experience and key deliverables and the expectations by virtue of this integrated business mode</p>
   </div>

   <hr class="another-custom-hr" >

   
   <div class="container mt-2 py-3 ">
    <div class="card bg-dark text-white p-3">
      <h4 class="fs-2" style="color: #A5953F;">Online Termine</h4>
      
      <p class="mt-5 fs-4 mx-4">Öffnungszeiten</p>
      
      <ul class="list-unstyled">
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Mo: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Di: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Mi: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Do: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Fr: </span>
          <span class="ms-2">09:00-19:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">Sa: </span>
          <span class="ms-2">10:00-16:00</span>
        </li>
        <li class="d-flex align-items-center mx-5">
          <span class="fw-bold" style="width: 70px;">So: </span>
          <span class="ms-2">Geschlossen</span>
        </li>
      </ul>

    </div>
  </div>

  <hr class="another-custom-hr" >