<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col col-md-3 col-xl-2 px-sm-2 px-0 sidebar-col">
      <app-sidebar-dashboard></app-sidebar-dashboard>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-12 py-3 dashboard-container">
      <app-apponitment-dashboard></app-apponitment-dashboard>
      <!-- <app-working-days></app-working-days>
          <app-closedays></app-closedays>
          <app-laden-profile></app-laden-profile>  -->
      <!-- <app-price-liste></app-price-liste> -->
    </div>
  </div>
</div>
