<div class="container p-4">
  <div class="row">
    <div class="col">
      <p class="title-dacshboard">Apponimet</p>
    </div>
    <form class="col-4 form-group" [formGroup]="searchForm">
      <div >
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="srarch for an Appontimet"
            formControlName="date"
            (dateChange)="onDateChange($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="container-table">  
    <div class="container">
        <div class="row">
          <div class="col-12">
              <table class="table table-image">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Telefonnummer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="w-25">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class="img-fluid rounded-circle" alt="Sheep">
                    </td>
                    <td>Amer Alloush</td>
                    <td>20.12-2000</td>
                    <td>0175243235678</td>
                  </tr>
                  <tr>
                    <td class="w-25">
                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-5.jpg" class="img-fluid rounded-circle " alt="Sheep">
                    </td>
                    <td>Amer Alloush</td>
                    <td>20.12-2000</td>
                    <td>0175243235678</td>
                  </tr>
                </tbody>
              </table>   
          </div>
        </div>
      </div>
  </div>
</div>
