<div class="container p-4">
  <div class="row">
    <div class="col">
      <p class="title-dacshboard">Apponimet</p>
    </div>
  </div>
  <div class="container-table">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Telefonnummer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of appoData | keyvalue; let i = index">
                <td class="w-25">
                  <img [src]="appoData[i].user_IMG" class="img-fluid rounded-circle" alt="Sheep" />
                </td>
                <td>{{ appoData[i].name }}</td>
                <td>
                  {{ formatDate(appoData[i].date) + " : " + appoData[i].time }}
                </td>
                <td>{{ appoData[i].handynummer }}</td>
                <td>
                  <button class="btn btn-danger" (click)="deletAPPO(appoData[i]._id, appoData[i].email, i)">
                    delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>