<app-pagebenner></app-pagebenner>

<div *ngIf="!loading">
  <div *ngFor="let error of singUpErorr">
    <div *ngFor="let constraint of getErrorMessages(error.constraints)">
      <app-notification-bar
        [message]="constraint"
        type="alert alert-warning alert-dismissible"
      ></app-notification-bar>
    </div>
  </div>
</div>

<div *ngIf="step === 1">
  <div class="container">
    <div class="formbox">
      <form [formGroup]="stepOneForm" (ngSubmit)="goToStepTwo()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Vorname</mat-label>
            <input matInput formControlName="vorname" placeholder="Vorname" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nachname</mat-label>
            <input matInput formControlName="nachname" placeholder="Nachname" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              placeholder="Email"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Passwort</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              placeholder="Passwort"
            />
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{ hide ? "visibility" : "visibility_off" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Passwort bestätigen</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="passwordwd"
              placeholder="Passwort bestätigen"
            />
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="stepOneForm.invalid"
          >
            Weiter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="step === 2">
  <div class="container d-flex align-items-center">
    <div class="formbox">
      <form [formGroup]="stepTwoForm" (ngSubmit)="onSubmits()">
        <div class="form-group">
          <div class="bild-upload" (click)="bildEingabe.click()">
            <input
              #bildEingabe
              type="file"
              accept="image/*"
              (change)="onDateiAuswahl($event)"
              hidden
            />
            <img
              id="selectedAvatar"
              [src]="imagePreview || 'assets/logo.svg'"
              class="rounded-circle"
              alt="Vorschau"
              style="width: 150px; height: 150px; object-fit: cover"
            />
          </div>
        </div>

        <div class="form-group_2">
          <mat-form-field>
            <mat-label>Telefonnummer</mat-label>
            <input
              matInput
              formControlName="handynummer"
              placeholder="Telefonnummer"
              type="tel"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Geburtsdatum</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="geburtsdatum"
              placeholder="Geburtsdatum"
              [max]="maxDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div
            *ngIf="
              stepTwoForm.controls['geburtsdatum'].touched &&
              stepTwoForm.controls['geburtsdatum'].errors?.['tooYoung']
            "
            class="text-danger"
          >
            Sie müssen mindestens 16 Jahre alt sein.
          </div>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Straße</mat-label>
            <input matInput formControlName="strasse" placeholder="Straße" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hausnummer</mat-label>
            <input
              matInput
              formControlName="hausnummer"
              placeholder="Hausnummer"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Postleitzahl</mat-label>
            <input
              matInput
              formControlName="plz"
              placeholder="PLZ"
              maxlength="5"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ort</mat-label>
            <input matInput formControlName="ort" placeholder="Ort" />
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-around">
          <input
            type="reset"
            (click)="goToStepOne()"
            class="ourBtn black w-25"
            value="zurück"
          />
          <input type="submit" class="ourBtn gold w-25" value="SIGN UP" />
        </div>
      </form>
    </div>
  </div>
</div>
<a class="text-secondary my-10" href="login"
  ><title-line titel="SIGN IN"></title-line
></a>
