.container {
  max-width: 600px;
  padding-top: 170px;
  width: 100%;
}

.formbox {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

mat-form-field {
  width: 40vh;

}

button:not(:disabled) {
  cursor: pointer;
  margin: 12px;
  border: none;
  background-color: white;
}


mat-icon {
  font-family: 'Material Icons' !important;
  color: #000;
  line-height: 24px;
  font-size: 24px;
}


@media screen and (max-width: 560px) {
  .container {
    width: 100%;
    padding: 1.5rem;
  }

  mat-form-field {
    width: 100%;

  }
  .formbox {
    padding: 1.5rem;
  }

}

@media screen and (max-width: 480px) {
  .container {
    width: 41vh;
    padding: 1rem;
  }
}
