<app-pagebenner [title]="'SIGN IN'" [discription]="'Discover Amazing Thing Near Around You'"></app-pagebenner>
<div class="container">
  <div class="py-4 d-flex flex-column justify-content-center align-items-center formbox">
    <form [formGroup]="loginForm" (submit)="onSubmit()">

      <!-- Eingabefeld für Email -->
      <div class="form-group py-3 position-relative">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Die E-Mail-Adresse ist erforderlich.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Bitte geben Sie eine gültige E-Mail-Adresse ein.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Eingabefeld für Passwort -->
      <div class="form-group py-3 position-relative">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Passwort</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
            placeholder="Geben Sie Ihr Passwort ein" />
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Passwort ' + (hide ? 'anzeigen' : 'verbergen')">
            <mat-icon>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Das Passwort ist erforderlich.
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            Das Passwort muss mindestens 6 Zeichen lang sein.
          </mat-error>
        </mat-form-field>
      </div>

      <input type="submit" class="ourBtn gold w-100" value="SIGN IN" />
    </form>
  </div>

  <a class="text-secondary my-10" href="register">
    <title-line titel="Sign Up"></title-line>
  </a>
</div>
