<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark p-4 d-none d-lg-flex justify-content-between"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a
            class="navbar-brand ms-auto"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <img src="assets/logo.svg" alt="Logo" />
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a
            class="nav-link"
            routerLink="/appointmentUser"
            routerLinkActive="active"
            >Termine</a
          >
        </li>
        <li class="nav-item" *ngIf="isBarber">
          <a
            class="nav-link"
            routerLink="/appointment"
            routerLinkActive="active"
            >Dashboard</a
          >
        </li>
      </ul>

      <ng-container *ngIf="!islogedin; else loggedInTemplate">
        <a href="/login" class="btn btn-light fw-bold mx-3"> Log in </a>
      </ng-container>
      <ng-template #loggedInTemplate>
        <div id="logout_box" class="d-flex align-items-center">
          <img
            [src]="userData?.image || 'assets/default-user.png'"
            alt="User Image"
            width="50"
            height="50"
            class="rounded-circle me-2"
          />
          <button
            type="button"
            class="btn btn-light fw-bold"
            (click)="logOut()"
          >
            Log out
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
