<app-navbar-desktop />
<app-navbar-mobile />
<div class="container">
  <h1 class="my-3">
    {{ ladenDaten.Laden_adress.ort }} ->
    <strong>{{ ladenDaten.Laden_name }} </strong>
  </h1>
</div>
<!-- // add a array with image path  -->
<app-slide-show [imagesArr]="ladenDaten.Laden_IMG" />
<!-- // TODO  function to calculate a stars && create a varibel startNum && and function to chack if allredy giveing stars && nur nutzer die sich angemaldet ist!  -->
<app-star-rating [ratingArr]="ladenDaten.reviews" />

<div class="container mt-3 d">
  <h3>{{ ladenDaten.Laden_name }}</h3>
  <p>
    {{ ladenDaten.Laden_description }}
  </p>
</div>

<hr class="another-custom-hr" />
<app-calendar />

<app-opening-hours [workingHour]="ladenDaten.week_days" />

<!-- // function  || APIs  to make a map editabale  -->
<app-map />
