<app-navbar-desktop />
<app-navbar-mobile />
<div class="container">
  <h1 class="my-3">
    <i class="bi bi-geo-alt-fill"></i>{{ " " + ladenDaten.Laden_adress.ort }}
    <i class="bi bi-caret-right-fill"></i>

    <span class="titel">{{ " " + ladenDaten.Laden_name }}</span>
  </h1>
</div>
<!-- // add a array with image path  -->
<app-slide-show [imagesArr]="ladenDaten.Laden_IMG" />
<!-- // TODO  function to calculate a stars && create a varibel startNum && and function to chack if allredy giveing stars && nur nutzer die sich angemaldet ist!  -->
<app-star-rating [ratingArr]="ladenDaten.reviews" />

<div class="container mt-3 d">
  <h2 class="titel">
    {{ ladenDaten.Laden_name }}
  </h2>
  <p class="description">
    {{ ladenDaten.Laden_description }}
  </p>
</div>

<hr class="another-custom-hr" />
<app-calendar
  [weeksDays]="ladenDaten.week_days"
  [reserved_appointments]="ladenDaten.reserved_appointments"
  [closeDays]="ladenDaten.close_days"
  [barberEmail]="ladenDaten.barber_email"
/>

<app-opening-hours [workingHour]="ladenDaten.week_days" />
<app-price-list [list]="ladenDaten.priceListe" />

<!-- // function  || APIs  to make a map editabale  -->
<app-map />
