<app-navbar-desktop />
<app-navbar-mobile />
<div class="container">
  <h1 class="my-3">
    <i class="bi bi-geo-alt-fill"></i>{{ " " + ladenDaten.Laden_adress.ort }}
    <i class="bi bi-caret-right-fill"></i>

    <span class="titel">{{ " " + ladenDaten.Laden_name }}</span>
  </h1>
  <app-slide-show [imagesArr]="ladenDaten.Laden_IMG" />
  <div class="mt-3 d">
    <h2 class="titel">
      {{ ladenDaten.Laden_name }}
    </h2>
    <p class="description">
      {{ ladenDaten.Laden_description }}
    </p>
  </div>

  <hr class="another-custom-hr" />
  <app-calendar
    [weeksDays]="ladenDaten.week_days"
    [reserved_appointments]="ladenDaten.reserved_appointments"
    [closeDays]="ladenDaten.close_days"
    [barberEmail]="ladenDaten.barber_email"
  />
  <app-opening-hours [workingHour]="ladenDaten.week_days" />
  <app-price-list [list]="ladenDaten.priceListe" />
  <app-map />
</div>
