.container {
    text-align: center;
  }
  
  .inset-rating {
    background-color: #ffffff;
    padding: 0.6rem 2.5rem;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    max-width: 100%;
  }
  
  .card-img-top:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  a {
    text-decoration: none;
  }
  
  #showMoreButton {
    cursor: pointer;
    color: #978603;
    text-decoration: none;
  }
  
  #showMoreButton:hover {
    color: #cdb500;
  }
  