<div class="card">
  <a [routerLink]="['/profile', id]" class="image-container">
    <img [src]="image" [alt]="Name + ' Salon Bild'" class="card-img-top" loading="lazy"/>
  </a>

  <div class="card-body">
    <div class="salon-name">
      <h4>{{ Name }}</h4>
    </div>

    <div class="description-container">
      <p class="description-text">
        {{ descriptionText }}
        <span *ngIf="description.length > 30" class="show-more-button" (click)="toggleDescription()">
          {{ showFullDescription ? 'Weniger anzeigen' : '... Mehr anzeigen' }}
          <i class="fas" [class.fa-chevron-right]="!showFullDescription" [class.fa-chevron-up]="showFullDescription"></i>
        </span>
      </p>
    </div>
  </div>
</div>
