<div class="container py-3">
  <div class="row box_shadow">
    <div class="card bg-dark working-hours-card p-3">
      <div>
        <h4 class="working-hours-title">Öffnungszeiten</h4>

        <ul class="working-hours-list mt-3">
          <li
            class="d-flex align-items-center mx-5 mb-2"
            *ngFor="let item of workingHour; let i = index"
          >
            <span class="fw-bold day-label">
              {{ workingHour[i].day }}
            </span>
            <span class="ms-2 time-status">
              {{
                workingHour[i].status == "open"
                  ? workingHour[i].available_time_from +
                    " - " +
                    workingHour[i].available_time_to
                  : workingHour[i].status
              }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr class="another_custom-hr" />
