.ourBtn {
    background-color: #DABE29;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    background-image: url("Gold_btn.svg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
